.avatarImg {
    border: 3px solid rgba(0,0,0,0.3);
    box-shadow: 0px 10px 20px black;
    min-width: 300px;
    min-height: 300px;
    left: 37.8%;
}

.profile {
    margin-top: 70px;
    margin-bottom: 70px;
}